.auth-container {
  max-width: 400px;
  margin: 0 auto;
  padding-top: 20px;

  h2 {
    text-align: center;
    margin-bottom: 30px;
    color: var(--ion-color-dark);
  }
}

.error-msg {
  text-align: center;
  font-weight: bold;
}

.validation-error {
  color: var(--ion-color-danger);
  font-size: 0.8rem;
  padding-left: 16px;
  margin-top: 5px;
}

.auth-links a {
  color: var(--ion-color-primary);
  text-decoration: none;
  font-weight: bold;
}